body {
    background-color:#ffffff;
}
/* STYLE SCROLLBARS */
/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #fef4cf #212529;
  }
  
  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 15px;
  }
  
  *::-webkit-scrollbar-track {
    background: #212529;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #fef4cf;
    border-radius: 6px;
    border: 3px solid #212529;
  }

.odd{display:none;}

.hidden {
  display:none;
}

.visible{
  display:block;
}

.img-responsive{
    display:inline-block;
    height:auto;
    max-width: 100%;
}


/**** Media Queries ****/
@media screen and (max-width: 1280px){
   .container .play-sq{
        width: 200px;
        height: 200px;
    }

    #playing-grid{
        width: 1100px;
    }
}

@media screen and (max-width: 640px){
    .footer-logo{
        display:none;
    }  

    .p1img, .p2img{
        margin-top:-90px;
    }
    
    .container .play-sq{
        width: 100px;
        height: 100px;
    }

    #playing-grid{
        width: 435px;
    }
}

