body {
    background-color:#ffffff;
    overflow:hidden;
}

.odd{display:none;}

.hidden {
  display:none;
}

.visible{
  display:block;
}

.img-responsive{
    display:inline-block;
    height:auto;
    max-width: 100%;
}


/**** Media Queries ****/
@media screen and (max-width: 1280px){
   .container .play-sq{
        width: 200px;
        height: 200px;
    }

    #playing-grid{
        width: 1100px;
    }
}

@media screen and (max-width: 640px){
    .footer-logo{
        display:none;
    }  

    .p1img, .p2img{
        margin-top:-90px;
    }
    
    .container .play-sq{
        width: 100px;
        height: 100px;
    }

    #playing-grid{
        width: 435px;
    }
}

